<h2 class="text-center p-5">Liste des Produits</h2>
<div class="column"> 
  <div class="row">
    <div class=" col-sm-9">
      
    </div>
    <div class=" col-sm-3 mr-5 mb-5">
      <button class="btn btn-info btn-lg" routerLink="/cart" ><span class="fa fa-shopping-cart fa-3x"></span>Go to cart</button>
    </div>
  </div>
    <div class="row border border-info">
      <div class="card col-sm-12">
          <div class="card-body">
            <div>Nous sommes le : {{ date | date: 'd MMMM y' }}</div>            
              <div class="col-sm-12">
              <app-product
                *ngFor="let product of products"
                [productName]="product.name"
                [productDescription]="product.description"
                [productQuantity]="product.quantity"
                [productUnit]="product.unit"
                [productId]="product.id"                    
                [selectedQuantity]=1>   
              </app-product>
              </div>         
        </div>   
    </div>
  </div>

