
<div class="col-sm-12" id='product'>
    <div class="col-sm-1 align-self-center center"><div style="width:20px;height:20px;background-color:rgb(81, 255, 0);" 
        *ngIf="added === true"></div></div>
    <div class="col-sm-6">
        <h4 class="card-title">Produit : {{ getName() }}</h4>
        <p>Description du produit : {{ getDescription() }}</p>
        <p>Quantité disponible : {{ getQuantity() }} {{ getUnit() }} </p>
        <img class="card-img-bottom" src="" alt="Card image">
        <input type="text" class="form-control" [(ngModel)]="selectedQuantity">

    </div>
    <div class="col-sm-2 center"> 
    <button [routerLink]="[productId]">Détail</button>
    </div>
    <div class="col-sm-2 float-right center"> 
        <button class="btn btn-primary" (click)="addCart()">Add to cart</button>
    </div>
</div>
            